.account-block {
  padding: 0;
  background-image: url(https://bootdey.com/img/Content/bg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: relative;
}
.account-block .overlay {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.account-block .account-testimonial {
  text-align: center;
  color: #fff;
  position: absolute;
  margin: 0 auto;
  padding: 0 1.75rem;
  bottom: 3rem;
  left: 0;
  right: 0;
}

.text-theme {
  color: #5369f8 !important;
}

.btn-theme {
  background-color: #5369f8;
  border-color: #5369f8;
  color: #fff;
}

.homeSection .banner {
  height: 30rem;
  width: 76rem;
  background-image: url(../images/stakingBanner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  margin-bottom: 7rem;
}

.homeSection .banner .bannerText {
  position: relative;
  top: 45%;
  width: 75%;
  height: 20%;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  font-size: 2rem;
  margin-top: 5rem;
  border-radius: 15px;
  box-shadow: 0 0 10px rgb(255 255 255);
}

.homeSection .staking p {
}

.homeSection .staking table {
  --bs-table-bg: #005988;
  --bs-table-color: #ffffff;
}

.homeSection .staking table tbody:hover {
  --bs-table-bg: #005988;
  --bs-table-color: #ffffff;
}
