# Network Chain ID

REACT_APP_ChainId=11155111

# Alchemy Api URl for Sepolia Testnet Network

REACT_APP_ALCHEMY_SEPOLIA_NAME=Sepolia Testnet
REACT_APP_ALCHEMY_SEPOLIA_API_KEY=https://eth-sepolia.g.alchemy.com/v2/demo
REACT_APP_ALCHEMY_SEPOLIA_SITE_URL=https://sepolia.etherscan.i

REACT_APP_ALCHEMY_SEPOLIA_SYMBOL=ETH

# Contract Addresses

ERC20_Address=0xaae34aFdD1C896Cc295D3A6819b3E66D3d9e95c2
Reward_Address=0x77046abb72C959C3f8a9bCeaF7AeAD5Fb088A2Ee
Staking_Address=0x4991EF504EA0303A39A26aBe1008245439EC2c60
